.map-container {
  height: 100%;
  width: 100%;
}

.map-frame {
  outline: 2px solid black;
  border: none;
  height: 100%;
}

#map {
  height: 100%;
}

::ng-deep {
  .leaflet-popup-close-button {
    display: none;
  }
  .leaflet-popup-content-wrapper {
    background: #353333f1;
    color: #d3d3d3;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {
    h2 {
      padding: 0;
      margin: 0;
    }
    margin: 10px;
  }

  .leaflet-popup-tip {
    background: #353333f1;
  }
}
