.map-container {
  height:100%;
  width:100%;
}

.map-frame {
  outline: 2px solid black;
  border: none;
  height: 100%;
}

#map {
  height: 100%;
}

.leaflet-pane.leaflet-shadow-pane {
  display: none;
}
