.card-wrapper {
  background-color: rgba(60, 60, 60, 0.9);
  border-radius: 10px;
  width: 35em;
  padding: 15px;
  overflow: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.content-top {
  margin-bottom: 0.35em;
  h3 {
    color: white;
    font-size: 2em;
    font-weight: 200;
    margin: 0;
  }

  span {
    font-size: 1.5em;
  }

  .topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .close-button {
      cursor: pointer;
      height: 100%;
      * {
        height: 100%;
      }
    }

    .close-button:hover {
      transform: scale(1.05);
    }
  }
}

.info-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 50%;
  justify-items: start;
  grid-gap: 0.3em;

  .type,
  .distance,
  .priceCategory,
  .reviews {
    color: rgb(189, 189, 189);
  }

  .rating {
    color: rgb(255, 225, 0);
  }
}

.center-content {
  display: grid;
  grid-template-columns: 65% 35%;
}

.image-slider {
  position: relative;
  display: flex;
  align-content: center;

  .restaurant-image {
    width: 100%;
    aspect-ratio: 19/9;
    background-color: black;
    object-fit: cover;
  }

  button {
    border: none;
    color: white;
    height: 100%;
    width: 15%;
    padding: 0;
    background: transparent;
    position: absolute;
    cursor: pointer;
  }

  button img {
    filter: invert(1);
    height: 15%;
  }

  .image-slider-btn-left {
    left: 0;
    padding-left: 10px;
  }

  .image-slider-btn-right {
    right: 0;
    padding-right: 10px;
  }
}

.opening-times {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 200;
  }

  a {
    font-size: 1.25em;
  }

  h4,
  a {
    color: rgb(189, 189, 189);
  }

  td {
    color: white;
  }

  * {
    text-align: center;
  }

  table {
    width: 90%;
  }
}

td:nth-child(2n) {
  text-align: left;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;

  button {
    font-size: 1.75em;
  }

  .comments-btn {
    background: transparent;
    border: none;
    color: rgb(189, 189, 189);
  }

  .reserve-btn {
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    font-weight: 600;
  }
}

.comments-section {
  height: 30vh;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

.comment {
  margin: 15px 0;
  margin-right: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;

  h4 {
    margin: 0;
    display: inline;
    margin-right: 0.5em;
    font-weight: 500;
    font-size: 1.2em;
  }

  .comment-top-left {
    display: flex;
    flex-direction: column;
  }

  .comment-top-left > div > span {
    color: rgb(255, 225, 0);
    font-size: 1.2em;
  }

  .profile-picture {
    background-color: purple;
    height: 3em;
    aspect-ratio: 1/1;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-picture > span {
    color: white;
    font-size: 1.75em;
    font-weight: 200;
  }
}

.comment-content {
  padding: 0 0.5em;
}
