<div class="card">
  <div class="image-container">
    <img class="restaurantImage" src="{{ reservation.restaurantTable.restaurant.pictures[0] }}" alt="" />
  </div>

  <div class="content">
    <h2>{{ reservation.restaurantTable.restaurant.name }}</h2>
    <p><strong>Date:</strong> {{ reservation.dateTimeSlot.date }}<br /></p>
    <p><strong>Time:</strong> {{ reservation.dateTimeSlot.startTime + " to "+reservation.dateTimeSlot.endTime }}<br />

    <p><strong>Party Size:</strong> {{ reservation.restaurantTable.capacity }}<br /></p>
  </div>

  <div class="actions">
    <button *ngIf="!reservation.confirmed" [ngStyle]="{ 'background-color': 'green' }"
      (click)="confirmReservation(reservation.id)"> Confirm
    </button>
    <button [ngStyle]="{ 'background-color': 'red' }" (click)="deleteReservation(reservation.id)">
      Cancel
    </button>

  </div>
</div>
