<div class="content">
  <div class="sidemenuContainer">
    <div class="sidemenu" *ngIf="sideMenuExpanded">
      <h3>Filter</h3>

      <app-restaurant-filters></app-restaurant-filters>

      <h3>Restaurants</h3>

      <div class="restaurant-list-container">
        <ngx-loading *ngIf="!filterService.hasLoadedRestaurants" [show]="!filterService.hasLoadedRestaurants" [config]="{
            backdropBorderRadius: '3px'
          }">
        </ngx-loading>
        <app-restaurant-list-card *ngFor="let restaurant of restaurantService.restaurants$ | async"
          [restaurant]="restaurant" [isSelected]="restaurantService.selectedRestaurant$.value === restaurant"
          (click)="selectRestaurant(restaurant)"></app-restaurant-list-card>
      </div>
    </div>
  </div>

  <div class="sidemenu-controller" (click)="sideMenuExpanded = !sideMenuExpanded">
    <button>
      <img [src]="
          sideMenuExpanded
            ? 'assets/icons/double_angle_left.svg'
            : 'assets/icons/double_angle_right.svg'
        " />
    </button>
  </div>
</div>
