.page {
  display: flex;
  flex-direction: row;

  align-items: stretch;

  height: calc(100% - 56px);
  width: 100%;

  app-map {
    height: 100%;
    width: 100%;

    position: fixed;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  app-side-menu {
    height: 100%;
    z-index: 500;
  }

  app-restaurant-card {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateY(-50%);
  }
}
