.page {
  display: flex;
  flex-direction: row;

  align-items: stretch;

  height: calc(100% - 56px);
  width: 100%;

  app-side-menu {
    height: 100%;
    z-index: 501;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    app-map {
      height: 100%;
      width: 100%;

      position: absolute;
    }

    app-restaurant-card {
      position: absolute;

      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);
      z-index: 500;
      height: 60%;
    }
  }
}
