<div class="page">
  <app-side-menu
    [restaurants]="restaurants"
    [canPlacePersonMarker]="canPlacePersonMarker"
    (canPlaceLocationMarkerEvent)="handleCanPlaceLocationMarkerEvent($event)"
  ></app-side-menu>

  <div class="content-wrapper">
    <app-map
      [restaurants]="restaurants"
      [canPlacePersonMarker]="canPlacePersonMarker"
      (selectedRestaurantEvent)="selectedRestaurantEvent($event)"
      (personMarkerLocationEvent)="personMarkerLocationEvent($event)"
    ></app-map>

    <app-restaurant-card
      *ngIf="currentRestaurant"
      [restaurant]="currentRestaurant"
    ></app-restaurant-card>
  </div>
</div>
