<div class="wrapper">
  <h2>{{ getStateText() }}</h2>

  <div class="auth-wrapper">
    <form (ngSubmit)="login()" [formGroup]="loginForm" *ngIf="isLoginState()">
      <div class="input-wrapper">
        <span class="input-label">Your email</span>
        <input
          formControlName="email"
          type="email"
          id="email-input"
          placeholder="Email"
        />
      </div>

      <div class="input-wrapper">
        <span class="input-label">Password</span>
        <input
          formControlName="password"
          type="password"
          id="password-input"
          placeholder="Password"
        />
      </div>

      <div class="remember-me-wrapper">
        <input formControlName="rememberMe" type="checkbox" id="remember-me" />
        <label for="remember-me">Remember me</label>
      </div>

      <button class="submit-button" type="submit">Login</button>

      <div class="serverResponse">
        <span [className]="responseStatus">
          {{ responseStatus }}
        </span>

        <p class="responseText">
          {{ responseText }}
        </p>
      </div>
    </form>

    <form
      (ngSubmit)="signup()"
      [formGroup]="signUpForm"
      *ngIf="isSignUpState()"
    >
      <div class="input-wrapper">
        <span class="input-label">Your email</span>
        <input
          formControlName="email"
          type="email"
          id="email-input"
          placeholder="Email"
        />
      </div>

      <div class="input-wrapper">
        <span class="input-label">Username</span>
        <input
          formControlName="username"
          type="text"
          id="username-input"
          placeholder="Username"
        />
      </div>

      <div class="input-wrapper">
        <span class="input-label">Password</span>
        <input
          formControlName="password"
          type="password"
          id="password-input"
          placeholder="Password"
        />
      </div>

      <div class="input-wrapper">
        <span class="input-label">Repeat password</span>
        <input
          formControlName="passwordRepeat"
          type="password"
          id="repeat-password-input"
          placeholder="Password"
        />
      </div>

      <button class="submit-button" type="submit">Sign up</button>

      <div class="serverResponse">
        <span [className]="responseStatus">
          {{ responseStatus }}
        </span>

        <p class="responseText">
          {{ responseText }}
        </p>
      </div>
    </form>

    <form
      (ngSubmit)="forgotPassword()"
      [formGroup]="forgotPasswordForm"
      *ngIf="isForgotPasswordState()"
    >
      <div class="input-wrapper">
        <span class="input-label">Your email</span>
        <input
          formControlName="email"
          type="email"
          id="email-input"
          placeholder="Email"
        />
      </div>

      <button class="submit-button" type="submit" id="forgot-password-btn">Send email</button>
    </form>

    <div class="change-mode-buttons">
      <button (click)="showLogin()" *ngIf="!isLoginState()">Login</button>
      <button (click)="showSignUp()" *ngIf="!isSignUpState()">Sign up</button>
      <button (click)="showForgotPassword()" *ngIf="!isForgotPasswordState()">
        Forgot password
      </button>
    </div>
  </div>
</div>
