<div
  class="restaurant-card"
  [style.background]="isSelected ? 'rgb(73, 73, 73)' : ''"
>
  <h3>{{ restaurant.name }}</h3>
  <div class="row">
    <p class="type">{{ getRestaurantType(restaurant.restaurantType) }}</p>
    <p class="priceCategory">
      {{ getPriceCategory(restaurant.priceCategory) }}
    </p>
  </div>
  <div class="row">
    <p class="rating">{{ getRating(restaurant.averageRating) }}</p>
    <p class="rewiews">({{ restaurant.commentCount}})</p>
    <p class="distance">{{ restaurant.distanceToUser }} km</p>
  </div>
</div>
