<div class="content">
  <div class="sidemenu" *ngIf="sideMenuExpanded">
    <h3>Filter</h3>

    <app-restaurant-filters></app-restaurant-filters>

    <h3>Restaurants</h3>

    <div class="restaurant-list-container">
      <app-restaurant-list-card
        *ngFor="let restaurant of restaurants"
        [restaurant]="restaurant"
        [isSelected]="isSelectedRestaurant(restaurant)"
        (click)="selectRestaurant(restaurant)"
      ></app-restaurant-list-card>
    </div>
  </div>

  <div
    class="sidemenu-controller"
    (click)="sideMenuExpanded = !sideMenuExpanded"
  >
    <button>
      <img
        [src]="
          sideMenuExpanded
            ? 'assets/icons/double_angle_left.svg'
            : 'assets/icons/double_angle_right.svg'
        "
      />
    </button>
  </div>
</div>
