.content {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #212529;
  color: hsla(0, 0%, 100%, 0.5);

  box-shadow: 2px 1px 4px 4px rgba(65, 65, 65, 0.616);

  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.sidemenuContainer {
  height: 100%;
  overflow-y: auto;
}

.sidemenu {
  width: 350px;

  padding-left: 20px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 0px;

  box-sizing: border-box;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3 {
    font-size: 22px;
    color: hsla(0, 0%, 100%, 0.5);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .restaurant-list-container {
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 5px;

    height: 100%;
    min-height: 120px;
  }

  ngx-loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sidemenu-controller {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    width: 35px;
    background-color: transparent;
    border: none;
    padding: 5;
  }
  img {
    filter: invert(0.8);
    transition: all 0.1s ease-out;
  }
}

.sidemenu-controller:hover {
  img {
    transform: scale(1.02);
    filter: invert(1);
  }
}
